:root {

  --heading: 'Barlow Condensed',
    sans-serif;
  --body: 'Bellefaire',
    serif;
  --nav-text: 'Barlow', sans-serif;
  --h1: 3rem;
  --h2: 2rem;
  --h3: 1.5rem;
  --p: 1rem;
  --a: 1rem;
  --large: 3rem;
  --default: 1.25rem;
  --small: 0.75rem;
  --smaller: 0.5rem;
  --tiny: 0.25rem;
  --bold: 700;
  --bolder: 900;
  --light: 300;
  --lighter: 200;

}

/* Resetting default styles */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body);
  font-size: var(--default);
  background-image: url('../images/body.svg');
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading);
}

p {
  font-family: var(--body);
}

a {
  text-decoration: none;
  font-family: var(--nav-text);
  font-size: var(--a);
}

ul {
  list-style: none;
  font-family: var(--nav-text);
  font-size: var(--a);
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-image: url('../images/body.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  transition: all 0.3s ease;
  ;
  color: #fffb96;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    padding: 0.5rem;
  }
}

.nav-links li {
  display: inline-block;
  color: #fffb96;
}

.nav-links li a {
  text-decoration: none;
  color: #fffb96;
  padding: 0.75rem 1rem;
  font-family: var(--nav-text);
}

.navbar-nav .nav-item .nav-link {
  opacity: 0.7;
  color: #fffb96;
}

.navbar-nav .nav-item .nav-link a:hover,
.navbar-nav .nav-item .nav-link i.fas:hover,
{
opacity: 1;
text-decoration: none;
transform: scale(1.5);
}

.navbar-nav .nav-item .nav-link:visited:hover {
  text-decoration: none;
  transform: scale(1.5);
  opacity: 1;
}

.navbar-nav .nav-item .nav-link.active {
  opacity: 1;
  text-decoration: none;
  transform: scale(1.5);
}

.logo {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;

}

.logo:hover {
  transform: scale(1.5);
}

@-webkit-keyframes rollIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rollIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.animate__rollIn {
  -webkit-animation-name: rollIn;
  animation-name: rollIn;

  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  /* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
}

/* Mobile menu styles */
.mobile-menu {
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.mobile-menu.active {
  transform: translateX(0);
}

@media screen and (max-width: 768px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem;

  }
}

@media screen and (max-width: 480px) {
  .mobile-menu {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }

  .mobile-menu li {
    margin: 1rem 0;
  }

  .mobile-menu a {
    font-size: 1.5rem;
  }

  .mobile-menu img {
    width: 100%;
  }
}

/* Hero section styles */
.hero {
  height: 100%;
  width: 100%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #eee;
  font-family: var(--body);
  font-size: var(--default);
  line-height: 1.6;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 60, 170, 0.3137254902);
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/herobackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: soft-light;
}

.hero-heading {
  font-size: var(--h1);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-family: var(--heading);
  color: #fffb96;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.copy {
  position: absolute;
  top: -1;
  font-size: var(--default);
  font-family: var(--nav-text);
}

.hero-text {
  font-size: var(--default);
  margin: 0 auto 2rem;
  transition: all 0.3s ease;
  color: #fffb96;
}

button.hero-btn {
  display: inline-block;
  padding: 1rem 2rem;
  border: 2px solid #ff3cac;
  background-color: #fffb96;
  text-decoration: none;
  font-weight: bold;
  font-family: var(--nav-text);
  font-size: var(--default);
  color: #ff3cac;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.animate__pulse {
  animation-name: pulse;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

/* Why Us section styles */
.why-us {

  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 251, 150, 0.3137254902);
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/whyusbackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  background-attachment: fixed;

}

.why-us,
.testimonials-section,
.how-it-works-section,
.testimonials-section {
  padding: 3rem 0;
  text-align: center;
  transition: all 0.3s ease;
  min-height: auto;
}

/* Card styles */
.why-us-card,
.testimonial-card,
.how-it-works-card {
  background: #fffb96;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-family: var(--nav-text);
  text-align: center;
  font-size: var(--p);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ff3cac;
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
    padding: 0.75rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    transition: all 0.3s ease;

  }

  .row {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
  }

  .col-md-4 {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0.75rem 0.75rem;
  }

  .why-us,
  .testimonials-section,
  .how-it-works-section,
  .testimonials-section {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    text-align: center;
    color: #ff3cac;
    width: 100%;
    height: 100%;
  }

  .why-us-card,
  .testimonial-card,
  .how-it-works-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ff3cac;
    width: 100%;
    height: 80%;
  }

}

.why-us-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-2.5px);
  transition: all 0.3s ease-in-out;
}

.why-us-card:hover img {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.why-us-card .card-img-top {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #ff3cac;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-title {
  font-size: var(--h2);
}

.card-text {
  font-size: var(--p);
}

.why-us .container h1.section-heading,
.testimonials-section .container h1.section-heading,
.how-it-works-section .container h1.section-heading,
.contact .container h1.section-heading {
  font-size: var(--h1);
  font-weight: var(--bold);
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-family: var(--heading);
  color: #ff3cac;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  background-color: #ffffff20;

}

@keyframes flip {
  from {
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out;
  }

  40% {
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out;
  }

  50% {
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in;
  }

  80% {
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    animation-timing-function: ease-in;
  }

  to {
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    animation-timing-function: ease-in;
  }
}

.animate__animated.animate__flip {
  backface-visibility: visible;
  animation-name: flip;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

/* Testimonials section styles */
.testimonials-section {

  background-color: rgba(255, 60, 170, 0.3137254902);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(rgba(255, 60, 170, 0.3137254902), rgba(255, 60, 170, 0.3137254902)), url("../images/Testimonials-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.testimonial-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.testimonial-img-top {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #ff3cac;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.testimonial-blockquote {
  font-size: var(--p);
  font-style: italic;
  font-weight: var(--light);
}

.how-it-works-section {

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 251, 150, 0.3137254902);
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/how-it-works.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.how-it-works-card i {
  position: relative;
  top: -20%;
}

.how-it-works-card {
  transition: all 0.3s ease-in-out;
  margin: 20px auto;
}

.how-it-works-card i {
  font-size: 6rem;
  border-radius: 50%;
  border: 1px solid #ff3cac;
  transition: all 0.3s ease;
  color: #ff3cac;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  background-color: #ffffff7d;

}

@keyframes bounce {

  from,
  20%,
  53%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }

  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }

  90% {
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}

.animate__bounce {
  animation-name: bounce;
  transform-origin: center bottom;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.how-it-works-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
  transition: all 0.3s ease;
  cursor: pointer;
}

/* Contact section styles */
.contact {

  color: #eee;
  transition: all 0.3s ease;
  background-color: rgba(255, 60, 170, 0.3137254902);
  background-image: linear-gradient(rgba(255, 60, 170, 0.3137254902), rgba(255, 60, 170, 0.3137254902)), url("../images/contact.webp");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.contact ul {
  list-style: none;
  font-family: var(--nav-text);
  font-size: var(--small);
}

.contact li {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.contact a {
  text-decoration: none;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  color: #fff;
  font-family: var(--nav-text);
  font-size: var(--small);
}

.contact a:hover {
  text-decoration: none;
}

.contact i {
  margin-right: 0.5rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  color: #fff;
  font-size: var(--small);
}

.contact .social-icons li,
.contact .social-icons a {
  text-decoration: none;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  color: #fff;
  font-family: var(--nav-text);
}

.contact .social-icons li:hover,
.contact .social-icons a.instagram:hover {
  background: linear-gradient(#f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease;

}

.contact .social-icons li:hover,
.contact .social-icons a.facebook:hover {
  background: linear-gradient(#3b5998 0%, #364e8a 25%, #273e63 50%, #1d2d4d 75%, #131e35 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease;

}

.contact .social-icons li:hover,
.contact .social-icons a.twitter:hover {
  background: linear-gradient(#2795e9 0%, #0077b5 25%, #0067a5 50%, #005794 75%, #005794 100%);
  -webkit-background-clip: text;
  background-clip: text;
  transition: all 0.3s ease;
}

button .fas.fa-paper-plane {
  font-size: 2rem;
  color: #eee;
  transition: all 0.3s ease;
  margin: 1rem 1rem;
  background: linear-gradient(#f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 25%;

}

.contact-info,
.social-icons {

  list-style: none;
  font-family: var(--nav-text);
  font-size: var(--small);
}

.contact-info,
.social-icons {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  color: #eee;
  padding: 0 2rem;
  transition: all 0.3s ease;
  align-content: center;
  flex-wrap: wrap;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-family: var(--nav-text);
  padding: 0 2rem;
  transition: all 0.3s ease;
  width: 100%;
  height: 100%;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 0.75rem;

}

#sendMessageButton {
  background-color: #fffb96;
  color: #ff3cac;
  transition: all 0.3s ease;
  border: 2px solid #ff3cac;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  font-size: var(--small);
  font-family: var(--nav-text);
}

#sendMessageButton:hover,
#sendMessageButton:active,
#sendMessageButton:focus,
#sendMessageButton:visited,
.hero-btn:hover,
.hero-btn:active,
.hero-btn:focus,
.hero-btn:visited {
  text-decoration: none;
  background-color: #fff710;
  transition: all 0.3s ease;
}

i.fas.fa-envelope {
  background: linear-gradient(#f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #eee;
  transition: all 0.3s ease;
  margin-right: 0.5rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  font-size: var(--small);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ff3cac;
  font-family: var(--nav-text);
  font-size: var(--default);
  padding: 0 2rem;
  transition: all 0.3s ease;
  width: 100%;
  height: 50%;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 0.75rem;
  background-image: url("../images/footer.svg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
  background-attachment: local;
  background-size: cover;
}

@media (min-width: 768px) {

  .contact-info ul,
  .contact-info li,
  .contact-info a,
  .social-icons ul,
  .social-icons li,
  .social-icons a,
  .social-icons i {
    font-size: x-large;
  }
}